body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1daf;
}

.menu-container {
    display: flex;
    align-items: center;
    height: 30px;
    border-radius: 5px;
}


.menu-container input{
    background: white;
    width: 500px;
    outline : none ;
    border : none ;
    font-weight : 500; 
    transition : 0.8s;
    background : transparent ;

}

.box a .fas{
    color : #1DAF;
    font-size: 18PX;
}


